<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <title>MU-meet</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script>
    const ROOM_ID = '<%= roomId %>'
  </script>
</head>

<body>
 
  <div class="main">
  
    <div class="mainLeft">
      <div class="navbar">
        <div class="logo">
          <img src="https://res.cloudinary.com/dnag1wvx8/image/upload/v1662060113/main-logo_u3o5o3.png" alt="LOGO">
        </div>
      </div>
      <div class="mainVideos">
        <div id="videoGrid"> </div>

      </div>
      <div class="mainControls">
        <div class="mainControlsBlock">
          <div onclick="muteUnmute()" class="mainControlsButton mainMuteButton">
            <i class="fas fa-microphone"></i>
            <span>Mute</span>
          </div>
          <div onclick="playStop()" class="mainControlsButton mainVideoButton">
            <i class="fas fa-video"></i>
            <span>Stop Video</span>
          </div>
          <div onclick="disconnectCall()" class=" mainControlsButton mainControlsButtonEndMeeting">
            <span class="leaveMeeting"><i id="end" class="fas fa-phone-slash"></i></span>
          </div>
        </div>
        <!-- <div onclick="shareScreen()"class="mainControlsButtonEndMeeting">
          <i class="fas fa-desktop"></i>
          <span>Screen-Share</span>
       </div> -->



          <!-- <div class="mainControlsBlock">
          <div class="mainControlsButton">
            <i class="fas fa-shield-alt"></i>
            <span>Security</span>
         </div>
         <div class="mainControlsButton">
            <i class="fas fa-user-friends"></i>
            <span>Participants</span>
         </div> -->
          <div class="vc-chat">
        <div class="mainControlsButton">
          <i class="fas fa-comment-alt"></i>
          <span>Chat</span>
       </div>
      </div>
          <!-- <div class="mainControlsButton">
          <i class="fas fa-record-vinyl"></i>         
          <span>Record</span>
       </div>
        </div> -->



        </div>

      </div>
      <div id="chatbox" class="mainRight">
        <div class="mainHeader">
          <h5>Chat</h5>
        </div>
        <div class="mainChatWindow">
          <ul class="messagesContainer">
          </ul>
        </div>
        <!-- <div class="messageSendingTo">To: <span>Everyone <i class="fas fa-angle-down"></i></span> </div> -->
        <div class="mainMessageContainer">
          <input id="chatMessage" type="text" placeholder="Type message here...">
        </div>

      </div>
    </div>
</body>

<script src="js/main.js"></script>

</html>